<div id='menu'>  
  <%= link_to "Demandas", demandas_path, @menu == "demandas" ? {:class => "selected"} : nil %>
  <%= link_to "Destinos", destinos_path, @menu == "destinos" ? {:class => "selected"} : nil %>
  <%= link_to "Usuários", users_path, @menu == "usuarios" ? {:class => "selected"} : nil %>
</div>  