<div id='menu'>
  <ul>
    <li id='usuarios'><%= link_to "Usuários", users_path %></li>
    <li id='demandas'><%= link_to "Demandas", demandas_path %></li>
    <li id='demandas'><%= link_to "Destinos", destinos_path %></li>
  </ul>  
</div>  