<p><%= f.label :demandante %><br/><%= f.text_field :demandante, :title => 'Digite nome do demandante' %></p>


<script>
jQuery('#demanda_demandante').bt({
  trigger: ['focus', 'blur'],
  positions: ['right'],
  fill: '#DDF',
  cssStyles: {color: '#183048', fontWeight: 'bold', width: 'auto'}
});
</script>