<html>
  <head>
    <%= stylesheet_link_tag "ouvidoria" %>
  </head>
  <body>
    <div id='banner'>
      Ouvidoria
    </div>        
    <div id='wrap'>
      <%= @content_for_layout %>
    </div>  
    
    <div id='rodape'>
    desenvolvido pela chuvis
    </div>
  </body>
</html>