<html>
  <head>
    <%= stylesheet_link_tag "ouvidoria" %>
  </head>
  <body>
    <div id='banner'>
      <br/>
      <h1>Ouvidoria</h1>
      <%= render :partial => 'shared/menu' %>      
    </div>        
    
    <div id='content'>
      <%= @content_for_layout %>
    </div>  
    
    <div id='rodape'>
    desenvolvido pela chuvis
    </div>
  </body>
</html>